{% set kmods_map = salt['grains.filter_by']({
  'default': {
    'lookup': {
      'packages': [ 'kmod' ],
      'locations': {
        'modprobe_d': '/etc/modprobe.d'
      }
    },
    'enable': {},
    'blacklist': []
  },
},
merge=salt['pillar.get']('kmods', {}), default='default')
%}
